@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;1,500&family=Roboto+Slab:wght@300;400;500;700&family=Roboto:wght@300;400;500&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}

.home-body {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

a {
  text-decoration: none;
  display: inline;
  color: black;
}

/* -------------------General Styles-------------- */

.link {
  background-color: #53adc0;
  padding: 10px 15px;
  border-radius: 6px;
  color: white;
  border: 1px solid #2e8ea2;
}

.link:hover {
  background-color: #2e8ea2;
  border: 1px solid #53adc0;
}

.grid-container {
  max-width: 980px;
  margin: auto;
}

/* ---------------HEADER Styles----------------- */
header {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

header .header-icons-container {
  width: 100%;
  height: 50px;
  display: grid;
  background-color: #53adc0;
}

header .header-icons-container .icons {
  width: 300px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 50px;
}

header .icons span {
  color: white;
}

header .icons span::before {
  font-size: 26px;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
}

nav .nav-logo-container {
  margin-left: 50px;
}

nav .nav-logo-container img {
  width: 220px;
  margin-top: 10px;
}

nav .profile-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}

/* ------------------HOME MAIN STYLES-------------------- */

.home-main {
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-main .main-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-items: center;
}

.main-container section {
  width: 70%;
  display: flex;
  justify-content: center;
}

.main-container .main-title {
  color: white;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 10px;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.main-container .main-link {
  align-self: start;
}

.main-container .main-link button {
  padding: 15px 20px;
  font-size: 20px;
  border: 1px solid white;
  border-radius: 3px;
  background: #53adc0;
  color: white;
  font-family: inherit;
  font-weight: 600;
}
.main-container .main-link button:hover {
  border: 1px solid #53adc0;
  background: #2e8ea2;
}
.main-container .main-link button:focus {
  outline: none;
  border: 1px solid white;
}

/* ------------------- BLOGS MAIN STYLES ------------------------ */

.blogs-main p {
  font-family: "Roboto", monospace;
  font-size: 16px;
  line-height: 1.8rem;
}
.main-principal-post {
  background-color: #e6e9ed;
  padding: 5px 50px 40px;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "title title"
    "post-image post-info";
}

.main-principal-post h3 {
  grid-area: title;
  align-self: center;
  margin-left: 40px;
}

.main-principal-post .principal-image {
  grid-area: post-image;
}

.principal-image img {
  width: 100%;
}

.main-principal-post .principal-info {
  align-self: center;
  grid-area: post-info;
}

.principal-info h2 {
  font-size: 40px;
}

.principal-info p {
  font-size: 18px;
}

.post-list-container {
  margin: 20px;
  padding: 20px;
}

.post-list-container .post-list-title {
  margin-bottom: 40px;
  padding: 25px;
  text-align: center;
  border-bottom: 1px solid #e6e9ed;
}

.post-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 320px));
  justify-content: center;
  gap: 50px;
}

.post-list .post-item .post-image {
  width: 100%;
}

.post-item figure {
  margin: 0;
}

.post-image img {
  width: inherit;
  height: inherit;
}

.post-item .post-info {
  padding-top: 15px;
}

.post-info .post-title {
  font-size: 20px;
}

.post-info p {
  font-size: 15px;
  line-height: 1.3rem;
  margin-bottom: 30px;
}
/* ------------------- Blogpost MAIN STYLES ------------------------ */
.blogpost-img-container {
  padding: 0 50px 40px;
}

.blogpost-img-container  img {
  width: 100%;
}

.blogpost-main-container {
  padding: 0 50px 40px;
}

.blogpost-main-container h3 {
  margin-bottom: 20px;
  border-bottom: 1px solid #e6e9ed ;
  font-size: 20px;
}

.blogpost-main-container article h1 {
  font-size: 35px;
}

.contact-main-container {
  background-color: #e6e9ed;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}



.contact-main-container .contact-item {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  justify-items: center;
}

.contact-item img {
  width: 100px;
}

.contact-item a {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

/* ------------------- Profile styles ------------------------ */

.profile-projects {
  width: 85%;
  margin: 30px auto 50px;
}

.profile-projects h2{
  text-align: center;
  margin-top: 50px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e6e9ed;
}

.profile-projects .profile-projects-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}


/* -------------------Footer styles----------------- */

footer {
  border-top: 30px solid #53adc0;
  width: 100%;
  height: 70px;
}

footer .footer-info {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #434a54;
}


