@media (max-width: 900px) {
  .main-principal-post {
    grid-template-areas:
      "title title"
      "post-image post-image"
      "post-info post-info";
  }

  .link {
    font-size: 13px;
  }
  .post-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .profile-projects .profile-projects-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact-main-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .contact-item {
      grid-template-columns: 1fr;
  }

  .profile-info {
      grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .post-list {
    grid-template-columns: 1fr;
  }

  .principal-info h2 {
    font-size: 32px;
  }

  .principal-info p {
    font-size: 16px;
  }
  .profile-projects .profile-projects-container {
    grid-template-columns: 1fr;
  }
  
}
